<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.storefront.cordova.piwik" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Piwik</name>
    <description>Piwik Analytics Plugin</description>
    <js-module name="Piwik" src="www/Piwik.js">
        <clobbers target="piwik"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Piwik">
                <param name="android-package" value="com.storefront.cordova.piwik.Piwik"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/Piwik.java" target-dir="src/com/storefront/cordova/piwik"/>
        <source-file src="src/android/PiwikAndroidSdk.jar" target-dir="libs/" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Piwik">
                <param name="ios-package" value="PiwikPlugin"/>
            </feature>
        </config-file>
	<framework src="CoreData.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreData.framework"/>
        <framework src="UIKit.framework" />



        <source-file src="src/ios/CDVPiwik.m"/>
     	<header-file src="src/ios/CDVPiwik.h"/>


	<!-- Required piwik files -->
	<header-file src="src/ios/PiwikTracker/PiwikTrackedViewController.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikTracker.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikTransaction.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikTransactionBuilder.h"/>
        <header-file src="src/ios/PiwikTracker/PTEventEntity.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikDebugDispatcher.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikTransactionItem.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikDispatcher.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikLocationManager.h"/>
        <header-file src="src/ios/PiwikTracker/PiwikNSURLSessionDispatcher.h"/>

        <source-file src="src/ios/PiwikTracker/PiwikNSURLSessionDispatcher.m"/>
        <source-file src="src/ios/PiwikTracker/PiwikTrackedViewController.m" />
        <source-file src="src/ios/PiwikTracker/PiwikTracker.m" />
        <source-file src="src/ios/PiwikTracker/PiwikTransaction.m" />
        <source-file src="src/ios/PiwikTracker/PiwikTransactionBuilder.m" />
        <source-file src="src/ios/PiwikTracker/PiwikTransactionItem.m" />
        <source-file src="src/ios/PiwikTracker/PTEventEntity.m" />
        <source-file src="src/ios/PiwikTracker/PiwikDebugDispatcher.m"/>
        <source-file src="src/ios/PiwikTracker/PiwikLocationManager.m"/>   

	<info>
The iOS version does not yet suppport tracking goals and custom variables...  And you have to change the C Language Dialect in Xcode to get the app to compile (see [Github Issues](https://github.com/kriserickson/cordova-piwik-plugin/issues/1#issuecomment-114652098) for more detail).  
	</info>

    </platform>
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Piwik">
                <param name="wp-package" value="Piwik"/>
            </feature>
        </config-file>

        <source-file src="src/wp/Piwik.cs" />
    </platform>
</plugin>
